body {
    font-family: 'Arial', sans-serif;
}

.card {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bg-gradient {
    border-radius: 15px;
}

.card-body {
    padding: 15px;
}
